#contextmenu {
  position: absolute;
  /*height: 10px;*/
  width: 190px;
  border: 1px solid #000000;
  background-color: #4297A1;
  box-shadow: 0px 0px 1px 1px #000000;
  color: #4ee258;
  font-size: 14px;
  padding: 5px;
  font-weight: bold;
  z-index: 99999;
}

#contextmenu ul {
  list-style-type: none;
}

#contextmenu li {
  padding: 3px;
}